﻿@model IEnumerable<Examen.Models.Alumno>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultar</title>
</head>
<script src="~/js/jquery1-12-0.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <div class="container">
        <div class="row">
                <div class="contenedorTitulo">
                    <h2>Alumnos</h2>
                    <hr class="hr-primary" />

                    <div class="pull-right barraMenu">
                        <div class="dropdown show">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuFiltro" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <button class="itemMenu mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
                                    <i class="material-icons">filter_list</i>
                                </button>
                            </a>
                            <a asp-action="Registrar" class="itemMenu mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                                <i class="material-icons">add</i>
                            </a>
                            @if (User.IsInRole("Administrador") || User.IsInRole("Supervisor"))
                            {
                                <a asp-action="DescargarXls" class="itemMenu mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                    <i class="material-icons">cloud_download</i>
                                </a>
                            }
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuFiltro">
                                <a asp-action="Consultar" asp-route-id="" class="form-control drop dropdown-item btn btn-sm">
                                    Hoy
                                </a>
                                <a asp-action="Consultar" asp-route-id="a" class="form-control drop dropdown-item btn btn-sm">
                                    Ayer
                                </a>
                                <a asp-action="Consultar" asp-route-id="t" class="form-control drop dropdown-item btn btn-sm ">
                                    Todos
                                </a>
                            </div>
                        </div>
                    </div>
            </header>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Alumnos</h2>
                </div>
                <div class="panel-body">
                    <table id="Tabla" class="table table-hover" style="font-size:smaller">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        <div class="dropdown show">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a asp-action="Ver" asp-route-id="@item.Id" class="form-control drop dropdown-item btn btn-sm btn-info">
                                                    <i class="material-icons">info</i>
                                                </a>
                                                <a asp-action="Modificar" asp-route-id="@item.Id" class="form-control drop dropdown-item btn btn-sm btn-warning">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <a asp-action="Eliminar" asp-route-id="@item.Id" class="form-control drop dropdown-item btn btn-sm btn-danger">
                                                    <i class="material-icons">delete</i>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //Filtro automatico
    $(document).ready(function () {
        $('#Tabla').dataTable({
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por p&aacute;gina",
                "zeroRecords": "Ningun registro coincide con el texto solicitado",
                "info": "P&aacute;gina _PAGE_ de _PAGES_",
                "infoEmpty": "Ningun registro fue encontrado",
                "infoFiltered": "(Filtrando de _MAX_ Registros Totales)",
                "search": "Buscar",
                "paginate": {
                    "first": "Primera p&aacute;gina",
                    "last": "Ultima p&aacute;gina",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
                "decimal": ".",
                "thousands": ","
            }
        });

    });
