﻿@model Examen.Models.Alumno
@{
    ViewData["Title"] = "Registrar";
}

<h1>Registrar Alumno</h1>
@if (ViewBag.RegistroExitoso)
{
    <script>
        Swal.fire(
            'Registro Exitoso!',
            'Haz almacenado correctamente los datos',
            'success');
    </script>
}
<div class="container">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb bread-primary ">
                <li><a asp-action="Consultar"><i class="glyphicon glyphicon-home"></i> Alumnos </a></li>
                <li class="glyphicon glyphicon-plus active">Registrar</li>
            </ol>
        </div>
        <div class="row">
            <header>
                <h2>Registrar</h2>
                <hr class="hr-primary" />
            </header>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="panel-title"></h2>
            </div>
            <div class="panel-body">
                <form asp-action="Registrar" method="post">

                    <div class="form-horizontal">
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="ApellidoPaterno" class="control-label"></label>
                                <input asp-for="ApellidoPaterno" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="ApellidoMaterno" class="control-label"></label>
                                <input asp-for="ApellidoMaterno" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="FechaNacimiento" class="control-label"></label>
                                <input type="date" asp-for="FechaNacimiento" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="Genero" class="control-label"></label>
                                <select asp-for="Genero" asp-items="ViewBag.Generos" class="form-control">
                                    <option selected>Seleccionar *</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="FechaIngreso" class="control-label"></label>
                                <input type="date" asp-for="FechaIngreso" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="Activo" class="control-label"></label>
                                <input type="checkbox" asp-for="Activo" class="form-control" />
                            </div>
                        </div>
                        <div class="row">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-12">
                                <label asp-for="RFC" class="control-label"></label>
                                <input asp-for="RFC" class="form-control" />
                            </div>
                        </div>

                        <h6>(*) Campos Obligatorios</h6>
                    </div>

                    <div class="panel-footer text-right">
                        <div class="form-actions no-color">
                            <a asp-action="Consultar" class="btn btn-default">Regresar</a>
                            <input class="btn btn-primary" type="submit" value="Registrar" onclick="return comprobar();" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
