﻿
@{
    ViewData["Title"] = "Get";
}

<h2>Get</h2>


<div class="container">

    <div class="row">
        <form id="FormRegistrar" enctype="multipart/form-data" asp-action="Post" method="post">
            <label>RFC</label>
            <input id="rfc" name="rfc" type="text" />
            <label>CFDI</label>
            <input type="file" id="CFDI" name="CFDI" />
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>
