﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a href="Alumnos/Registrar">REGISTRO DE ALUMNO</a>
        </div>
        <div class="col-md-12">
            <a href="api/WebService/">PRUEBA DE WEB SERVICE </a>
        </div>
    </div>
</div>